*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Red Hat Display"; }

.section-faq__head h1 {
  font-size: 4.5rem; }

.section-faq__details--head {
  font-size: 1.1rem;
  font-weight: bolder; }

.section-faq__details--info {
  font-size: 1.4rem;
  color: #8c6991; }

@media (max-width: 425px) {
  .section-faq__details--head {
    font-size: 1rem; }
  .section-faq__details--info {
    font-size: 1.25rem; } }

.u-margin-bottom {
  margin-bottom: 2rem; }

.u-margin-bottom-small {
  margin-bottom: 1rem; }

.body {
  background-color: #f9f0ff;
  background-image: url(../assets/images/background-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.section-faq {
  max-width: 420px;
  min-height: 25vh;
  border-radius: 1rem;
  background-color: white;
  padding: 2rem 2rem;
  transition: all 0.2s ease-in-out;
  overflow: hidden; }
  .section-faq__head {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .section-faq__head img {
      width: 7%;
      height: 7%;
      margin-right: 1.5rem; }
  .section-faq__details--head {
    display: flex;
    align-items: center;
    justify-content: space-between; }

.faq-accord {
  border-bottom: 2px solid #f9f0ff;
  padding: 1rem 0rem; }

.details-news {
  cursor: pointer; }

.icon-plus {
  display: block; }

.icon-plus-open {
  display: none; }

.icon-minus {
  display: none; }

.icon-minus-open {
  display: block; }

.answer-faq {
  height: 0vh;
  transform: translateX(-1100%);
  transition: all 0.9s ease-in; }

.answer-faq-open {
  height: 11vh;
  transform: translateX(0%);
  transition: all 0.9s ease-out; }

@media (max-width: 425px) {
  .body {
    background-image: url(../assets/images/background-pattern-mobile.svg);
    background-size: 100% 50%;
    margin-top: -10rem; }
  .section-faq {
    max-width: 310px; }
  .answer-faq {
    height: 0vh;
    transform: translateX(-1100%);
    transition: all 0.9s ease-in; }
  .answer-faq-open {
    height: 9.5vh;
    transform: translateX(0%);
    transition: all 0.9s ease-out; } }
