.body {
  background-color: #f9f0ff;
  background-image: url(../assets/images/background-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  width: 100%;
  // border: 1px solid white;

  display: flex;
  align-items: center;
  justify-content: center;
}

.section-faq {
  max-width: 420px;
  min-height: 25vh;
  border-radius: 1rem;
  background-color: $color-faq-bg;
  padding: 2rem 2rem;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  // border: 2px solid yellow;

  &__head {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      width: 7%;
      height: 7%;
      margin-right: 1.5rem;
    }
  }

  &__details {
    &--head {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.faq-accord {
  border-bottom: 2px solid $color-bg;
  padding: 1rem 0rem;
}

.details-news {
  cursor: pointer;
}
.icon-plus {
  display: block;
}
.icon-plus-open {
  display: none;
}
.icon-minus {
  display: none;
}
.icon-minus-open {
  display: block;
}
.answer-faq {
  height: 0vh;
  transform: translateX(-1100%);
  transition: all 0.9s ease-in;
}
.answer-faq-open {
  height: 11vh;
  transform: translateX(0%);
  transition: all 0.9s ease-out;
}

@media (max-width: 425px) {
  .body {
    background-image: url(../assets/images/background-pattern-mobile.svg);
    background-size: 100% 50%;
    margin-top: -10rem;
  }
  .section-faq {
    max-width: 310px;
  }
  .answer-faq {
    height: 0vh;
    transform: translateX(-1100%);
    transition: all 0.9s ease-in;
  }
  .answer-faq-open {
    height: 8vh;
    transform: translateX(0%);
    transition: all 0.9s ease-out;
  }
}
